<div class="row">
	<div class="alert alert-danger collapse" role="alert"></div>
	<div class="alert alert-success collapse" role="alert"></div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Item</th>
				<th>Price</th>
				<th>Qty</th>
				<th>Add to cart?</th>
			</tr>
		</thead>
		<tbody ng-repeat="food in restaurant.food">
			<tr>
				<td><h4>{{food.name}}</h4></td>
				<td><span>${{food.price}}</span></td>
				<td><input type="number" min="0" id="{{food.name}}-qty" class="input prodQty" value="0"></td>
				<td><button class="btn btn-primary" ng-click="addToCart()">Add to Cart</button></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<div class="col-sm-4 col-md-4 col-lg-4">
		<form name="timeForm">
			<select name="timeSelect" id="timeSelect" class="form-control" ng-Model="data.timeSelect">
				<option value="">Please set a pickup time</option>
				<option value="12:00">12:00 PM</option>
				<option value="12:20">12:20 PM</option>
				<option value="12:40">12:40 PM</option>
				<option value="1:00">1:00 PM</option>
				<option value="1:20">1:20 PM</option>
				<option value="1:40">1:40 PM</option>
				<option value="2:00">2:00 PM</option>
				<option value="2:20">2:20 PM</option>
				<option value="2:40">2:40 PM</option>
			</select>
		</form>
	</div>
	<div class="col-sm-4 col-md-4 col-lg-4">
		<button class="btn btn-success placeOrder" ng-click="placeOrder()">Place Order</button>
	</div>
</div>
